.visibility {
    display: block;
}



@media screen and (max-width: 980px) {
    body {
        background-color: red;
    }
    #logo{
        display: none;
    }
    #visibility:after{
        content: "New text";
        text-indent: 0;
        display: block;

    }
}
