<div class="container" id="first" xmlns="http://www.w3.org/1999/html">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Wykres cen złota</h1>
        <section>
        <p>Poniższy wykres przedstawia wykres cen złota - dane są pobierane raz dziennie ze strony NBP</p>
            <p style="font-size: 17px">Dane są pobierane za pomocą zadania crona, który wykonuje skrypt PHP i zapisuje je w bazie danych MySQL. Pobrane dane prezentowane są w technologii JavaScript. Do narysowania wykresu użyta została biblioteka <a href="http://www.chartjs.org/" target="_blank">Chart.js</a></p>
       <div style="overflow-x: scroll"><canvas id="myChart" width="" height=""></canvas></div></section>