</div>

</div>
<div class="container" id="second">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Generator haseł</h1>

        <p>Wybierz pożądane opcje i kliknij przycisk Generuj</p>


            <section>
                <form>
                    <fieldset>
                        <ul class="row">
                            <li class="col-xs-12"><input type="checkbox" name="uppercase" value="uppercase" id="uppercase"><label
                                    for="uppercase">Duże litery</label></li>
                            <li class="col-xs-12"><input type="checkbox" name="lowercase" value="lowercase" id="lowercase"><label
                                    for="lowercase">Małe litery</label></li>
                            <li class="col-xs-12"><input type="checkbox" name="special" value="special" id="special"><label for="special">Znaki
                                specjalne</label></li>
                            <li class="col-xs-12"><input type="checkbox" name="numbers" value="numbers" id="numbers"><label for="numbers">Cyfry</label>
                            </li>
                        </ul>
                        <div><p>Ile znaków ma mieć hasło?</p>

                            <div id="slider"></div>
                            <input type="text" id="outputText" size="2" maxlength="2" disabled value="13">

                            <p style="display:none">Twoje hasło to:</p>
                            <input type="text" id="result" size="30" maxlength="25" disabled style="display:none; margin-bottom: 15px">
                        </div>

                    </fieldset>


                </form>
                <a class="btn btn-lg btn-primary" onclick="generatePassword()" role="button">Generuj hasło!</a>
            </section>


    </div>