</div>
<div class="container" id="third">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" id="jumbotron">
        <h1>Mikser kolorów</h1>

        <p>Użyj suwaków, by wygenerować kolor</p>
        <section>
            <form>
                <section class="row">
                    <div class="col-md-8 col-sm-12">
                        <div id="sliderRed1"></div>
                        <div id="sliderGreen1"></div>
                        <div id="sliderBlue1"></div>
                    </div>
                    <input type="text" class="hide" id="outputRed1" size="2" maxlength="2" disabled value="127">
                    <input type="text" class="hide" id="outputBlue1" size="2" maxlength="2" disabled value="127">
                    <input type="text" class="hide" id="outputGreen1" size="2" maxlength="2" disabled value="127">

                    <section class="col-xs-12 col-md-4 col-sm-12 parent">
                        <canvas id="myCanvas1" width="200" height="100"></canvas>
                        <div class="col-md-8 col-sm-12" id="pickedColor1"></div>
                    </section>

                    <a class="btn btn-default resetButton" href="javascript:void(0)" id="resetButton"
                       role="button" onclick="paintApplication(1)">Resetuj
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)" id="applyButton"
                       role="button" onclick="paintElement(0)">Ustaw kolor tła</a>
                </section>

                <section class="row">
                    <div class="col-md-8 col-sm-12">
                        <div id="sliderRed2"></div>
                        <div id="sliderGreen2"></div>
                        <div id="sliderBlue2"></div>
                    </div>
                    <input type="text" class="hide" id="outputRed2" size="2" maxlength="2" disabled value="127">
                    <input type="text" class="hide" id="outputBlue2" size="2" maxlength="2" disabled value="127">
                    <input type="text" class="hide" id="outputGreen2" size="2" maxlength="2" disabled value="127">

                    <section class="col-xs-12 col-md-4 col-sm-12 parent">
                        <canvas id="myCanvas2" width="200" height="100"></canvas>
                        <div class="col-md-8 col-sm-12" id="pickedColor2"></div>
                    </section>

                    <a class="btn btn-default resetButton" href="javascript:void(0)" id="resetButton2"
                       role="button" onclick="paintApplication(2)">Resetuj
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)" id="applyButton2"
                       role="button" onclick="paintElement(1)">Ustaw kolor nagłówka</a>
                </section>

                <section class="row">
                    <div class="col-md-8 col-sm-12">
                        <div id="sliderRed3"></div>
                        <div id="sliderGreen3"></div>
                        <div id="sliderBlue3"></div>
                    </div>
                    <input type="text" class="hide" id="outputRed3" size="2" maxlength="2" disabled value="127">
                    <input type="text" class="hide" id="outputBlue3" size="2" maxlength="2" disabled value="127">
                    <input type="text" class="hide" id="outputGreen3" size="2" maxlength="2" disabled value="127">

                    <section class="col-xs-12 col-md-4 col-sm-12 ">
                        <canvas id="myCanvas3" width="200" height="100"></canvas>
                        <div class="col-md-8 col-sm-12" id="pickedColor3"></div>
                    </section>

                    <a class="btn btn-default resetButton" href="javascript:void(0)" id="resetButton3"
                       role="button" onclick="paintApplication(3)">Resetuj
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)" id="applyButton3"
                       role="button" onclick="paintElement(2)">Ustaw kolor główny</a>
                </section>
                <section class="row">
                    <div class="col-md-8 col-sm-12">
                        <div id="sliderRed4"></div>
                        <div id="sliderGreen4"></div>
                        <div id="sliderBlue4"></div>
                    </div>
                    <input type="text" class="hide" id="outputRed4" size="2" maxlength="2" disabled value="127">
                    <input type="text" class="hide" id="outputBlue4" size="2" maxlength="2" disabled value="127">
                    <input type="text" class="hide" id="outputGreen4" size="2" maxlength="2" disabled value="127">

                    <section class="col-xs-12 col-md-4 col-sm-12 ">
                        <canvas id="myCanvas4" width="200" height="100"></canvas>
                        <div class="col-md-8 col-sm-12" id="pickedColor4"></div>
                    </section>

                    <a class="btn btn-default resetButton" href="javascript:void(0)" id="resetButton4"
                       role="button" onclick="paintApplication(4)">Resetuj
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)" id="applyButton4"
                       role="button" onclick="paintElement(3)">Ustaw kolor czcionki</a>
                </section>
                <section class="row">
                    <a class="btn btn-default resetButton" href="javascript:void(0)" id="resetPage"
                            role="button" onclick="resetPage()">Resetuj stronę
                    </a>
                </section>
            </form>
            <p>